<div class="container mt-3">
 <div class="row">
<div class="col-md-3">

<div>
  <h2>User info</h2>
   <%= image_tag @user.get_profile_image(100,100) %>
   
 
 <table class="table">
  <tbody>
    
     <th>name</th>
    <th> <%= @user.name %> </tr>
     <th>introduction</th>
    <th><%= @user.introduction %> </th>
    </tbody>
    </table>
  <% if @user == current_user %>
  <p><%= link_to edit_user_path(@user) ,class:"btn btn-outline-secondary btn-sm btn-block " do %>
    <i class="fa-solid fa-user-gear"></i>
 <% end %>
 </p>
 <% end %>
</div>
 <h2>New book</h2>
<%= form_with model: Book.new do |f| %>
  <p>Title</p>
  <%= f.text_field :title,class: "btn border btn-sm btn-block" %>

  <p>Opinion</p>
 <p><%= f.text_area :body,class: "btn border btn-sm btn-block" %></p> 

 <p>  <%= f.submit 'Create Book',class: "btn  btn-success"  %></p> 
  
<% end %>
</div>
<div class="col-md-8 offset-md-1">

<h2>Users</h2>
 <table class="table table-hover table-inverse">
  <thead>
    <tr>
     
      <th>image</th>
      <th>name</th>
 <th></th>
    </tr>
  </thead>


<tbody>


 <tr> <% @users.each do |user| %>
  <td><%= image_tag user.get_profile_image(100,100) %></td>
  <td><%= user.name %></td>
  <td><%= link_to "Show",user_path(user) %></td>
</tr>
<% end %>
 </tbody>
  </table>
</div>
</div>
</div>